<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{ title }} | IOT Device Manager </title>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ category }}: {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>
<body>
    <div class="wrapper">
        {% block body %}
        {% endblock %}
        <div class="push"></div>
    </div>
</body>
</html>
