<!DOCTYPE html>
<html lang="en">

<head>
    <title> {{ title }} | IOT Device Manager </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="/ck/static/chartkick.js"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ category }}: {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>

<body>
    <div class="wrapper">
        {% block body %}
        {% endblock %}
        <div class="push"></div>
    </div>
</body>

</html>