{% extends "base.html" %}
{% block body %}
<a href="/devices/add"> Add New Device </a>
<table>
    <thead>
        <th>Device ID</th>
        <th>Device Type</th>
        <th>Device Group</th>
        <th>Created At</th>
        <th>Show Details</th>
    </thead>
    <tbody>
        {% for key, value in devices.items() %}
        <tr>
            <td>{{ value["uuid"] }}</td>
            <td>{{ value["dtype"] }}</td>
            <td>{{ value["group"] }}</td>
            <td>{{ value["created_at"] }}</td>
            <td><a href='/devices/{{ value["uuid"] }}'>Show</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}