{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
    <br><br>
    <a href="/" class="btn btn-success" role="button">Home</a>
    <a href="/devices/add" class="btn btn-success" role="button" style="float: right">Add Device</a>
    <br><br>
    <hr>
    <div class="card-columns">
        {% for key, value in devices.items() %}
        <div class="card bg-info text-center text-white">
            <div class="card-header">
                {{ value["created_at"] }}
            </div>
            <div class="card-body">
                {{ value["group"] }} {{ value["dtype"] }}
            </div>
            <div class="card-footer">
                <a href='/devices/{{ value["uuid"] }}' class="btn btn-warning" role="button">{{ value["uuid"] }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <a href="/devices.json" class="btn btn-success" role="button" style="float: right">Download Device List (json)</a>
</div>
{% endblock %}