{% extends "base.html" %}
{% block body %}
<h2>Editing Device with uuid: {{device["uuid"] | default("")}} </h2>
<form action='{{ request.path }}' method="POST">
    <label for="dtype">Device Type: </label> 
    <select name='dtype' id='dtype' value='{{device["dtype"] | default("")}}' disabled>
        <option value="Temperature" {{ 'disabled' if not device['dtype'] == 'Temperature' }} >Temperature Sensor</option>
        <option value="Doorstep" {{ 'disabled' if not device['dtype'] == 'Doorstep' }} >Doorstep Sensor</option>
        <option value="Attendance" {{ 'disabled' if not device['dtype'] == 'Attendance' }} >Attendance Sensor</option>
        <option value="Alarm" {{ 'disabled' if not device['dtype'] == 'Alarm' }}>Fire Alarm</option>
    </select>
    <br>
    <label for="group">Group ID:</label> 
    <input type='text' name='group' id='group' value='{{device["group"] | default("")}}'>
    <br>
    <input type='submit'>
    <a href="/devices"><input type="button" name="cancel" value="cancel" /></a>
</form>
{% endblock %}