{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
    <br><br>
    <a href="/" class="btn btn-info" role="button">Home</a>
    <a href="/devices" class="btn btn-info" role="button" style="float: right">List Devices</a>
    <br><br>
    <hr>
    {% for dtype, devices in groups.items() %}
    <h3>{{ dtype }}</h3>
    <div>
        <a href="/dtypes/{{ dtype }}/start" class="btn btn-success" role="button">Start {{dtype}} Devices</a>
        <a href="/dtypes/{{ dtype }}/stop" class="btn btn-danger" role="button">Stop {{dtype}} Devices</a>
    </div><br>
    <div class="card-columns">
        {% for device in devices %}
        <div class="card text-center text-white {{ 'bg-success' if device.status == '1' else 'bg-danger'}}">
            <div class="card-header">
                {{ device["created_at"] }}
            </div>
            <div class="card-body">
                {{ device["dtype"] }}
            </div>
            <div class="card-footer">
                <a href='/devices/{{ device["uuid"] }}' class="btn btn-warning" role="button">{{ device["uuid"] }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
    <a href="/dtypes.json" class="btn btn-info" role="button" style="float: right">Download Devices (by type) List (json)</a>
</div>
{% endblock %}