{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
    <br><br>
    <a href="/" class="btn btn-success" role="button">Home</a>
    <a href="/devices" class="btn btn-success" role="button" style="float: right">Devices</a>
    <br><br>
    <hr>
    {% for group, devices in groups.items() %}
    <h3>{{ group }}</h3>
    <div class="card-columns">
        {% for device in devices %}
        <div class="card bg-info text-center text-white">
            <div class="card-header">
                {{ device["created_at"] }}
            </div>
            <div class="card-body">
                {{ device["dtype"] }}
            </div>
            <div class="card-footer">
                <a href='/devices/{{ device["uuid"] }}' class="btn btn-warning" role="button">{{ device["uuid"] }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
    <a href="/groups.json" class="btn btn-success" role="button" style="float: right">Download Group List (json)</a>
</div>
{% endblock %}